{
  "presets": ["es2015"],
  "plugins": [
    "check-es2015-constants"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    }
  }
}